@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: 'roboto', sans-serif; }

#registration-display a {
  text-decoration: none;
  color: #000;
  font-weight: bold; }
#registration-display .card-form input[type='text'], #registration-display .card-form input[type='email'], #registration-display .card-form input[type='password'] {
  font-size: 13px;
  font-weight: bold; }
#registration-display .card-form .password-container {
  position: relative; }
  #registration-display .card-form .password-container .show-password {
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px 6px; }
