@import url("https://fonts.googleapis.com/css?family=Roboto");
#cart-holder-section a {
  text-decoration: none; }
#cart-holder-section .btn-primary {
  background: pink !important;
  border: pink;
  color: #000; }
#cart-holder-section .pink-border {
  border: pink; }
#cart-holder-section .pink-bg {
  background: pink; }
#cart-holder-section .pink-text {
  color: pink; }
#cart-holder-section .cart-adv {
  height: 100px;
  width: 100%;
  background: url("../img/banners/banner-image-2.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
#cart-holder-section .cart-messages .card {
  border-left: 10px solid pink; }
  #cart-holder-section .cart-messages .card .bell-badge {
    position: relative; }
    #cart-holder-section .cart-messages .card .bell-badge .badge {
      position: absolute;
      top: 10px;
      left: 10px; }
#cart-holder-section .cart-save .card {
  border-left: 10px solid pink; }
#cart-holder-section .cart-details .item-cart-count .sneaker-text {
  position: absolute;
  left: 20%;
  right: 20%;
  text-align: center;
  bottom: 0;
  font-size: 10px; }
#cart-holder-section .cart-details .item-cart-count input[type='text'] {
  color: #000;
  font-weight: bold;
  text-align: center; }
#cart-holder-section .cart-right .card {
  border-bottom-left-radius: none !important;
  border-bottom-right-radius: none !important; }
#cart-holder-section .cart-right .totals-display {
  border-right: pink 2px solid;
  border-left: pink 2px solid;
  padding-left: 10px;
  padding-right: 10px; }
  #cart-holder-section .cart-right .totals-display .totals-display-inner {
    padding: 10px 0px; }
#cart-holder-section .cart-right .coupon-code a {
  font-style: 'roboto', sans-serif; }
