@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: 'roboto', sans-serif;
}

#registration-display{
  a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  .card-form{
    input[type='text'], input[type='email'], input[type='password']{
      font-size: 13px;
      font-weight: bold;
    }

    .password-container{
      position: relative;
      .show-password{
        position: absolute;
        top: 0;
        right: 0;
        padding: 9px 6px;
      }
    }

  }

}

#login-display{
  a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  .card-form{
    input[type='text'], input[type='email'], input[type='password']{
      font-size: 13px;
      font-weight: bold;
    }

    .password-container{
      position: relative;
      .show-password{
        position: absolute;
        top: 0;
        right: 0;
        padding: 9px 6px;
      }
    }

  }

}
