@import url('https://fonts.googleapis.com/css?family=Roboto');

$color-one: "#B44D09";
$color-two: "#ba4a00";
$color-three: "#dc7633";
$color-four: "#f1f1f1";
$color-five: "#deb887";
$color-six: "#e2e0e0";
$color-seven: "#f5f5f5";
$color-eight: "#ced4da";
$color-nine: "#DCDCDC";
$color-ten: "#fff";
$color-eleven: "#191970";
$color-twelve: #D567E0;
$color-thirteen: #C738D5;
$color-fourteen: #aac0b3;

.bg-dark-pink{
  background: #C738D5;
}
.text-dark-pink{
  color: #c738d5;
}

body{
  background: #ced4da;
  max-width: 100%;
  overflow-x: hidden;
}

#home-header{
  border-bottom: 2px solid #D567E0;

  i{
    margin-right: 2px;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    color: #d567e0;
  }

}

.navbar{
  border-bottom: 2px solid #D567E0;
  font-family: 'roboto', sans-serif;

  a.navbar-brand{
    font-size: 25px !important;
  }
}

#banner-image{
  background: url("../img/pages/cosmetic-ad.jpg");
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-attachment: scroll;

  .dark-overlay{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 500px;
    background: rgba(0, 0, 0, 0.4);
  }

  button{
    border: 3px solid #D567E0 !important;
    color: #fff !important;
  }
  button:hover{
    background: #d567e0;
  }

}

#recently-added{
  font-family: 'roboto', sans-serif;

  .products-categories h3{
    padding: 40px 0px 10px 20px;
    border-bottom: 2px solid #D567E0;
    margin-bottom: 10px;
  }

  .products-categories ul{
    padding: 0px 0px 20px 0px;
  }

  .products-categories ul > li .left-triangle{
    position: absolute;
    right: 0;
    top: 0;
    height: 0;
    width: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 18px solid #fff;
    display:none;

  }

  .products-categories ul > li{
    list-style-type: none;
    display: block;
    padding: 8px 0px 5px 20px;
    cursor: pointer;
    position: relative;
  }

  .products-categories ul > li > a{
    text-decoration: none;
    color: #000;
  }
  .products-categories ul > li:hover{
    background: #d567e0;
  }

  .products-column{
    .card{
      border: none;

      a{
        text-decoration: none;
      }

    }

  }
}


#featured-products{
  font-family: 'roboto', sans-serif;

  .card{
    border: none;

    a{
      text-decoration: none;
    }
  }
}

#products-category-solo{
  .img-container img
  {
    height: 100%;
    width: 600px;
  }

  .card-columns .card
  {
    border: none;
    overflow: hidden;
  }
  a
  {
    text-decoration: none;
  }


}

#products-slider{
  max-height: 550px;
  width: 100%;
  .carousel-item{
    height: 550px;
    width: 100%;

  }

  .carousel-item > img{
    width: 100%;
    height: 100%;

  }
  .carousel-item:after{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.4);
  }
}

#home-footer{
  font-family: 'roboto', sans-serif;
  .home-footer-inner{
    padding: 20px 0px;

  }

  ul > li{
    display: block;
    padding: 5px 0px;
  }

  ul > li a{
    text-decoration: none;
  }
  .social-icons ul{
    padding: 0px;
  }

  .social-icons > ul > li{
    display: inline !important;
    padding-right:5px;
    list-style-type: none;
  }


  .availability-space{
    background: #ced4da;
    height: 50px;
    width: 100%;
    border-radius: none;
    padding: 10px;
    box-shadow: 10px 10px 10px 10px #f5f5f5;
    .availability-space-text{
      font-size: 10px;
      line-height: 0.5;
    }
  }
}

#products-list{

  .product-filter-left{
    font-family: 'roboto', sans-serif;

    a{
      text-decoration: none;
      color: #000;
    }
    a:hover{
      color: $color-thirteen;
    }

    ul > li{
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .color-grid{
      display: inline-block;
      padding: 5px;
    }
    .input-group-text{
      cursor: pointer;
    }



  }

}

#right-carousel{
  min-height: 350px;
  width: 100%;
    .carousel-item{
      height: 350px;
      width: 100%;

    }

    .banner-image-1{
      background: url("../img/banners/banner-image-1.jpg");
      background-size: cover;
    }
    .banner-image-2{
      background: url("../img/banners/banner-image-2.jpg");
      background-size: cover;
    }
    .banner-image-3{
      background: url("../img/banners/banner-image-3.jpg");
      background-size: cover;
    }
    .banner-image-4{
      background: url("../img/banners/banner-image-4.jpg");
      background-size: cover;
    }

    .right-carousel-narrow{
      min-height: 350px;

      .card{
        max-height: 350px;
        position: relative;
        overflow: hidden;
      }
    }


  }

  #main-products-display{
    .sort-section{
      min-height: 40px;
      width: 100%;
      padding: 0px 10px;
      background: #f1f1f1;
      border-radius: 8px;

      a{
        text-decoration: none;

      }
    }

    .products-show-all{

      .card{
        border: none;
      }
      a{
        text-decoration: none;
      }
    }
  }
